@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    /* Typography */
    --font-family: "Inter";
    --button: 600 16px Inter;
    --body:500px 16px Inter;

    /* Color */
    --white: #fff;
    --black: #000;
    --accent: #708fff;
    --line: 1px solid #c9c9c9;

    /* Rounded */
    --br-xs: 4px;
    --br-sm: 8px;
    --br-md: 16px;
    --br-lg: 24px;
    --br-xl: 32px;
    --br-xxl: 40x;
    --br-xxxl: 52px;

    /* Sizing */
    --p-md:12px;
}

